@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: column;

    /* margin-bottom: 50px; */
    color: #35ae76a2;
    padding-top: 30px;
  }
  header h1 {
    font-family: cursive;
    padding-left: 25px;
    font-size: 60px;
    color: #38312b;
    font-weight: 900px;
    line-height: 80px;
    font-stretch: extra-expanded;
    padding-top: 40px;
    margin-bottom: 30px;
  }

  header h4 {
    display: flex;
    padding-left: 25px;
    font-size: 45px;
    font-weight: 200;
    color: #0c2323;
    margin-bottom: 30px;
  }
  header img {
    max-height: 55%;
    max-width: 85%;
    display: flex;
    align-self: center;
    border-radius: 50px 30px;
    padding-bottom: 45px;
  }
  section {
    background-color: #0c2323;
    display: flex;
    margin-bottom: 10px;
  }
  section div {
    padding: 20px 20px 25px 10px;
  }
  section h5 {
    color: #6dcd9a;
    line-height: 20px;
    font-size: larger;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  section p {
    color: #6dcd9a;
    font-size: x-small;
    line-height: 15px;
    padding-left: 10px;
  }

  section img {
    max-width: 150px;
    min-width: 150px;
    max-height: 200px;
    min-height: 200px;
    padding: 30px 30px 20px 10px;
  }

  /* ARTICLE SECTION */
  article {
    padding-left: 10px;
  }

  article #intro {
    color: #0c2323;
    font-size: xx-large;
    font-weight: 200;
  }

  .separationLine {
    width: 80%;
    height: 2px;
    background-color: #0c2323;
    padding: 0 10%;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  /* about images=>Article */
  .aboutSection {
    display: flex;
    flex-direction: column;
  }

  .aboutImage {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 370px;
    max-width: 370px;
    max-height: 500px;
    padding-left: 20px;
  }
  .firstPost,
  .secondPost,
  .thirdPost {
    position: relative;
    margin-bottom: 30px;
  }
  /* green bground that overlaps the images */
  .firstContent {
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: #0c2323;
    color: #6dcd9a;
    width: 260px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content {
    position: absolute;
    background-color: #0c2323;
    width: 260px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    color: #6dcd9a;
    bottom: 30px;
    left: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
