@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: column;

    /* margin-bottom: 50px; */
    color: #35ae76a2;
    padding-top: 30px;
  }
  header h1 {
    font-family: cursive;
    padding-left: 25px;
    font-size: 60px;
    color: #38312b;
    font-weight: 900px;
    line-height: 80px;
    font-stretch: extra-expanded;
    padding-top: 40px;
    margin-bottom: 30px;
  }

  header h4 {
    display: flex;
    padding-left: 25px;
    font-size: 45px;
    font-weight: 200;
    color: #0c2323;
    margin-bottom: 30px;
  }
  header img {
    max-height: 55%;
    max-width: 85%;
    display: flex;
    align-self: center;
    border-radius: 50px;
    object-fit:fill;
   
  }
  /* INTRO SECTION */
  section {
    background-color: #0c2323;
    display: flex;
    margin-bottom: 10px;
  }
  section div {
    padding: 20px 20px 25px 10px;
  }
  section h5 {
    color: #6dcd9a;
    line-height: 20px;
    font-size: larger;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  section p {
    color: #6dcd9a;
    font-size: x-small;
    line-height: 15px;
    padding-left: 10px;
  }

  section img {
    max-width: 150px;
    min-width: 150px;
    max-height: 200px;
    min-height: 200px;
    padding: 30px 30px 20px 10px;
  }

  /* ARTICLE SECTION */
  article {
    padding-left: 10px;
  }

  article #intro {
    color: #0c2323;
    font-size: xx-large;
    font-weight: 200;
  }

  .separationLine {
    width: 80%;
    height: 2px;
    background-color: #0c2323;
    padding: 0 10%;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  /* about images=>Article */
  .aboutSection {
    display: flex;
    flex-direction: column;
  }

  .aboutImage {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 370px;
    max-width: 370px;
    max-height: 500px;
    padding-left: 20px;
  }

  .firstPost,
  .secondPost,
  .thirdPost {
    position: relative;
    margin-bottom: 30px;
  }
  /* green bground that overlaps the images */
  .firstContent {
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: #0c2323;
    color: #6dcd9a;
    width: 260px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content {
    position: absolute;
    background-color: #0c2323;
    width: 260px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    color: #6dcd9a;
    bottom: 30px;
    left: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* SECTION ACHIEVEMENT */
  .achievements {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
  }
  .rightSide {
    position: relative;
  }
  .rightSide h4 {
    color: #6dcd9a;
    font-weight: lighter;
    font-size: xx-large;
  }
  .separationLine2 {
    width: 80%;
    height: 2px;
    padding: 0 10%;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #6dcd9a;
  }
  .rightSide div {
    margin-bottom: 30px;
  }
  .p1,
  .p2,
  .p3 {
    position: relative;
    color: #6dcd9a;
  }
  .icon {
    font-size: 50px;
    margin-left: 20px;
  }
  .intj {
    font-size: 40px;
  }
  .str {
    font-size: 15px;
  }

  .p1 {
    display: flex;
  }
  #icon1 {
    position: relative;
  }
  #intj1 {
    position: absolute;
    left: 110px;
    top: 25px;
  }
  #str1 {
    position: absolute;
    top: 80px;
    left: 125px;
  }
  .p2 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    top: -30px;
    left: 50px;
  }

  .p2 div {
    position: absolute;
    left: 80px;
    top: 0px;
    display: flex;
    flex-direction: column;
  }
  .p2 #str2 {
    position: absolute;
    left: 25px;
    top: 70px;
  }

  .p3 {
    position: relative;
    top: -40px;
    left: 150px;
    display: flex;
  }

  .p3 div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 80px;
  }
  .p3 #str3 {
    position: relative;
    left: 30px;
  }

  .leftSide {
    height: auto;
    width: auto;
    position: relative;
  }
  .leftSide img {
    min-height: 700px;
    min-width: 400px;
    object-fit: contain;
    margin-left: 30px;
    position: absolute;
    top: -170px;
  }
  /* DISCOVERY SECTION */
  .discovery {
    display: flex;
    flex-direction: column;
    background-color: #90bf9f;
  }

  .discover {
    color: #0c2323;
    font-size: 45px;
    line-height: 50px;
    padding-left: 50px;
    padding-bottom: 200px;
  }
  /* TESTIMONIAL SECTION */

  .testimonials {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
  }
  .testimonials .separationLine {
    margin-left: 20px;
  }

  .testimonials img {
    height: 140px;
    width: 140px;
    border-radius: 45%;
    object-fit: contain;
  }
  .testimonials span {
    color: #6dcd9a;
  }
  .testimonials h3 {
    margin-left: 20px;
  }

  .firstTestimonial,
  .secondTestimonial,
  .thirdTestimonial {
    background-color: #0c2323;
    height: auto;
    width: 350px;
    border-radius: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
  }
  .testimonials p {
    color: #6dcd9a;
    padding: 20px;
  }

  .firstTestimonial {
    margin-bottom: 10px;
    /* display: flex;
    flex-direction: column;
    padding: 30px; */
  }
  .firstTestimonial span {
    padding-top: 30px;
  }
  .secondTestimonial {
    margin-bottom: 10px;
  }
  .thirdTestimonial {
    margin-bottom: 10px;
  }
  /* FOOTER SECTION */
  footer {
    display: flex;
    flex-direction: column;
    background-color: #0c2323;
    color: #6dcd9a;
  }
  footer img {
    height: 450px;
    width: 380px;
    padding: 30px;
    border-radius: 35px;
    object-fit: fill;
  }
  footer .separationLine2 {
    margin-left: 30px;
  }

  .workUs h4 {
    font-size: 45px;
    font-weight: lighter;
    padding-left: 30px;
  }
  .workUs p {
    font-size: larger;
    font-weight: lighter;
    padding-left: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  footer button {
    width: 140px;
    height: 60px;
    margin-left: 30px;
    border-radius: 20%;
    cursor: pointer;
  }
  .contacts h5 {
    font-size: 30px;
    font-weight: lighter;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .contacts span {
    padding-left: 30px;
    margin-bottom: 50px;  
  }
   footer .bx{
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px; 
   }

.footerIcons span{
  display: flex;
  font-size: xx-large;
  justify-content: center;
  margin-top: 20px;
 cursor: pointer;
}
}
